# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.venv/
.env

# VCS
.git
.gitignore

# Editors/OS
.vscode/
.DS_Store
Thumbs.db

# Data/artefacts
**/dist/
**/build/
**/*.ipynb_checkpoints/
**/*.csv
